.bodyParts{
    border-color: black;
    fill: #FFB2A6;cursor: pointer;
    font-size: 20px;
}
area.bodyParts
{
    fill: black;
    stroke:black;
    stroke-width: 10;
    cursor: pointer;
    font-size: 20px;
}

area.bodyParts:hover
{
 stroke:black;
 font-size: 20px;
}

area.bodyParts:name {
  font-size: 30px;
}



